@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}

/* Add a font "jiangxizhuokai"*/
@font-face {
  font-family: "JiangXiZhuoKai";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/jiangxizhuokai.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}

/* change the body text font to "JiangXiZhuoKai" */
body {
  margin: 0;
  background-color: #d2e8e8bf; /* Set background color */
  font: 19px / 23px "JiangXiZhuoKai",  "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: rem;
    line-height: normal;
  }
}
